<%- include('partials/_header') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sign Up - Masi-trades</title>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="/css/vendors/uikit.min.css" />
  <link rel="stylesheet" href="/css/style.css" />

  <!-- SweetAlert2 -->
  <link rel="stylesheet" href="/plugins/sweetalerts/sweetalert2.min.css" />
  <style>
    body { background-color: #0e121b; color: #fff; }
    .in-loader { display: none; }
    .error { color: #ff5555; font-size: 0.9em; margin-top: 5px; display: block; }
  </style>
</head>
<body>

<main>
  <div class="uk-section uk-padding-remove-vertical">
    <div class="uk-container uk-container-expand">
      <div class="uk-grid" data-uk-height-viewport="expand: true">
        <!-- Left Image -->
        <div class="uk-width-3-5@m uk-background-cover uk-background-center-right uk-visible@m uk-box-shadow-xlarge"
             style="background-image: url(/img/in-profit-content1.jpg);"></div>

        <!-- Right Form -->
        <div class="uk-width-expand@m uk-flex uk-flex-middle">
          <div class="uk-grid uk-flex-center">
            <div class="uk-width-3-5@m">
              <div class="in-padding-horizontal@s">

                <a class="uk-logo" href="/">
                  <img src="img/logo.jpeg" alt="Logo" width="350" height="29" data-uk-img />
                </a>

                <p class="uk-text-lead uk-margin-top">Create your account</p>
                <p class="uk-text-small uk-margin-remove-top uk-margin-medium-bottom">
                  Already have an account? <a href="/login"><b style="color:#3F3EED;">Login here</b></a>
                </p>

                <!-- Form -->
                <form id="signupForm" class="uk-form">
                  <div class="uk-margin-small uk-width-1-1 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip fas fa-user-circle fa-sm"></span>
                    <input class="uk-input uk-border-rounded" style="background:#0e121b; color:#fff;" type="text" name="fullname" placeholder="Full Name" required />
                    <span class="error fullname"></span>
                  </div>

                  <div class="uk-margin-small uk-width-1-1 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip fas fa-user fa-sm"></span>
                    <input class="uk-input uk-border-rounded" style="background:#0e121b; color:#fff;" type="text" name="username" placeholder="Username" required />
                    <span class="error username"></span>
                  </div>

                  <div class="uk-margin-small uk-width-1-1 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip fas fa-house-user fa-sm"></span>
                    <input class="uk-input uk-border-rounded" style="background:#0e121b; color:#fff;" type="text" name="address" placeholder="Home Address" required />
                    <span class="error address"></span>
                  </div>

                  <div class="uk-margin-small uk-width-1-1 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip fas fa-city fa-sm"></span>
                    <input class="uk-input uk-border-rounded" style="background:#0e121b; color:#fff;" type="text" name="city" placeholder="City" required />
                    <span class="error city"></span>
                  </div>

                  <div class="uk-margin-small uk-width-1-1 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip fas fa-compass fa-sm"></span>
                    <input class="uk-input uk-border-rounded" style="background:#0e121b; color:#fff;" type="text" name="zip_code" placeholder="Zip/Postal Code (Optional)" />
                    <span class="error zip_code"></span>
                  </div>

                  <div class="uk-margin-small uk-width-1-1 uk-inline">
   <label>Select Country</label>
   <span class="uk-form-icon uk-form-icon-flip fas fa-flag fa-sm"></span>
   <select class="uk-select uk-border-rounded" style="background:#0e121b; color:#fff;" name="country" id="country" required>
     <option value="" disabled selected>Please Select Your Country</option>
    
     <option value="Afghanistan">Afghanistan</option>
     <option value="Albania">Albania</option>
     <option value="Algeria">Algeria</option>
     <option value="Andorra">Andorra</option>
     <option value="Angola">Angola</option>
     <option value="Antigua and Barbuda">Antigua and Barbuda</option>
     <option value="Argentina">Argentina</option>
     <option value="Armenia">Armenia</option>
     <option value="Australia">Australia</option>
     <option value="Austria">Austria</option>
     <option value="Azerbaijan">Azerbaijan</option>
     <option value="Bahamas">Bahamas</option>
     <option value="Bahrain">Bahrain</option>
    <option value="Bangladesh">Bangladesh</option>
    <option value="Barbados">Barbados</option>
    <option value="Belarus">Belarus</option>
    <option value="Belgium">Belgium</option>
    <option value="Belize">Belize</option>
    <option value="Benin">Benin</option>
    <option value="Bhutan">Bhutan</option>
    <option value="Bolivia">Bolivia</option>
    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
    <option value="Botswana">Botswana</option>
    <option value="Brazil">Brazil</option>
    <option value="Brunei">Brunei</option>
    <option value="Bulgaria">Bulgaria</option>
    <option value="Burkina Faso">Burkina Faso</option>
    <option value="Burundi">Burundi</option>
    <option value="Cabo Verde">Cabo Verde</option>
    <option value="Cambodia">Cambodia</option>
    <option value="Cameroon">Cameroon</option>
    <option value="Canada">Canada</option>
    <option value="Central African Republic">Central African Republic</option>
    <option value="Chad">Chad</option>
    <option value="Chile">Chile</option>
    <option value="China">China</option>
    <option value="Colombia">Colombia</option>
    <option value="Comoros">Comoros</option>
    <option value="Congo (Congo-Brazzaville)">Congo (Congo-Brazzaville)</option>
    <option value="Congo (Democratic Republic)">Congo (Democratic Republic of the)</option>
    <option value="Costa Rica">Costa Rica</option>
    <option value="Croatia">Croatia</option>
    <option value="Cuba">Cuba</option>
    <option value="Cyprus">Cyprus</option>
    <option value="Czechia (Czech Republic)">Czechia (Czech Republic)</option>
    <option value="Denmark">Denmark</option>
    <option value="Djibouti">Djibouti</option>
    <option value="Dominica">Dominica</option>
    <option value="Dominican Republic">Dominican Republic</option>
    <option value="Ecuador">Ecuador</option>
    <option value="Egypt">Egypt</option>
    <option value="El Salvador">El Salvador</option>
    <option value="Equatorial Guinea">Equatorial Guinea</option>
    <option value="Eritrea">Eritrea</option>
    <option value="Estonia">Estonia</option>
    <option value="Eswatini">Eswatini (Swaziland)</option>
    <option value="Ethiopia">Ethiopia</option>
    <option value="Fiji">Fiji</option>
    <option value="Finland">Finland</option>
    <option value="France">France</option>
    <option value="Gabon">Gabon</option>
    <option value="Gambia">Gambia</option>
    <option value="Georgia">Georgia</option>
    <option value="Germany">Germany</option>
    <option value="Ghana">Ghana</option>
    <option value="Greece">Greece</option>
    <option value="Grenada">Grenada</option>
    <option value="Guatemala">Guatemala</option>
    <option value="Guinea">Guinea</option>
    <option value="Guinea-Bissau">Guinea-Bissau</option>
    <option value="Guyana">Guyana</option>
    <option value="Haiti">Haiti</option>
    <option value="Honduras">Honduras</option>
    <option value="Hungary">Hungary</option>
    <option value="Iceland">Iceland</option>
    <option value="India">India</option>
    <option value="Indonesia">Indonesia</option>
    <option value="Iran">Iran</option>
    <option value="Iraq">Iraq</option>
    <option value="Ireland">Ireland</option>
    <option value="Israel">Israel</option>
    <option value="Italy">Italy</option>
    <option value="Jamaica">Jamaica</option>
    <option value="Japan">Japan</option>
    <option value="Jordan">Jordan</option>
    <option value="Kazakhstan">Kazakhstan</option>
    <option value="Kenya">Kenya</option>
    <option value="Kiribati">Kiribati</option>
    <option value="Kuwait">Kuwait</option>
    <option value="Kyrgyzstan">Kyrgyzstan</option>
    <option value="Laos">Laos</option>
    <option value="Latvia">Latvia</option>
    <option value="Lebanon">Lebanon</option>
    <option value="Lesotho">Lesotho</option>
    <option value="Liberia">Liberia</option>
    <option value="Libya">Libya</option>
    <option value="Liechtenstein">Liechtenstein</option>
    <option value="Lithuania">Lithuania</option>
    <option value="Luxembourg">Luxembourg</option>
    <option value="Madagascar">Madagascar</option>
    <option value="Malawi">Malawi</option>
    <option value="Malaysia">Malaysia</option>
    <option value="Maldives">Maldives</option>
    <option value="Mali">Mali</option>
    <option value="Malta">Malta</option>
    <option value="Marshall Islands">Marshall Islands</option>
    <option value="Mauritania">Mauritania</option>
    <option value="Mauritius">Mauritius</option>
    <option value="Mexico">Mexico</option>
    <option value="Micronesia">Micronesia</option>
    <option value="Moldova">Moldova</option>
    <option value="Monaco">Monaco</option>
    <option value="Mongolia">Mongolia</option>
    <option value="Montenegro">Montenegro</option>
    <option value="Morocco">Morocco</option>
    <option value="Mozambique">Mozambique</option>
    <option value="Myanmar">Myanmar (Burma)</option>
    <option value="Namibia">Namibia</option>
    <option value="Nauru">Nauru</option>
    <option value="Nepal">Nepal</option>
    <option value="Netherlands">Netherlands</option>
    <option value="New Zealand">New Zealand</option>
    <option value="Nicaragua">Nicaragua</option>
    <option value="Niger">Niger</option>
    <option value="Nigeria">Nigeria</option>
    <option value="North Korea">North Korea</option>
    <option value="North Macedonia">North Macedonia</option>
    <option value="Norway">Norway</option>
    <option value="Oman">Oman</option>
    <option value="Pakistan">Pakistan</option>
    <option value="Palau">Palau</option>
    <option value="Palestine">Palestine</option>
    <option value="Panama">Panama</option>
    <option value="Papua New Guinea">Papua New Guinea</option>
    <option value="Paraguay">Paraguay</option>
    <option value="Peru">Peru</option>
    <option value="Philippines">Philippines</option>
    <option value="Poland">Poland</option>
    <option value="Portugal">Portugal</option>
    <option value="Qatar">Qatar</option>
    <option value="Romania">Romania</option>
    <option value="Russia">Russia</option>
    <option value="Rwanda">Rwanda</option>
    <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
    <option value="Saint Lucia">Saint Lucia</option>
    <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
    <option value="Samoa">Samoa</option>
    <option value="San Marino">San Marino</option>
    <option value="Sao Tome and Principe">Sao Tome and Principe</option>
    <option value="Saudi Arabia">Saudi Arabia</option>
    <option value="Senegal">Senegal</option>
    <option value="Serbia">Serbia</option>
    <option value="Seychelles">Seychelles</option>
    <option value="Sierra Leone">Sierra Leone</option>
    <option value="Singapore">Singapore</option>
    <option value="Slovakia">Slovakia</option>
    <option value="Slovenia">Slovenia</option>
    <option value="Solomon Islands">Solomon Islands</option>
    <option value="Somalia">Somalia</option>
    <option value="South Africa">South Africa</option>
    <option value="South Korea">South Korea</option>
    <option value="South Sudan">South Sudan</option>
    <option value="Spain">Spain</option>
    <option value="Sri Lanka">Sri Lanka</option>
    <option value="Sudan">Sudan</option>
    <option value="Suriname">Suriname</option>
    <option value="Sweden">Sweden</option>
    <option value="Switzerland">Switzerland</option>
    <option value="Syria">Syria</option>
    <option value="Tajikistan">Tajikistan</option>
    <option value="Tanzania">Tanzania</option>
    <option value="Thailand">Thailand</option>
    <option value="Timor-Leste">Timor-Leste</option>
    <option value="Togo">Togo</option>
    <option value="Tonga">Tonga</option>
    <option value="Trinidad and Tobago">Trinidad and Tobago</option>
    <option value="Tunisia">Tunisia</option>
    <option value="Turkey">Turkey</option>
    <option value="Turkmenistan">Turkmenistan</option>
    <option value="Tuvalu">Tuvalu</option>
    <option value="Uganda">Uganda</option>
    <option value="Ukraine">Ukraine</option>
    <option value="United Arab Emirates">United Arab Emirates</option>
    <option value="United Kingdom">United Kingdom</option>
    <option value="United States">United States of America</option>
    <option value="Uruguay">Uruguay</option>
    <option value="Uzbekistan">Uzbekistan</option>
    <option value="Vanuatu">Vanuatu</option>
    <option value="Vatican City">Vatican City (Holy See)</option>
    <option value="Venezuela">Venezuela</option>
    <option value="Vietnam">Vietnam</option>
    <option value="Yemen">Yemen</option>
    <option value="Zambia">Zambia</option>
    <option value="Zimbabwe">Zimbabwe</option>
  </select>
  <span class="error country" style="color: #ff5555;"></span>
</div>

                  <div class="uk-margin-small uk-width-1-1 uk-inline">
  <label>Select Currency</label>
  <span class="uk-form-icon uk-form-icon-flip fas fa-dollar-sign fa-sm"></span>
  <select class="uk-select uk-border-rounded" style="background:#0e121b; color:#fff;" name="currency" required>
    <option value="" disabled selected>Please Select Currency</option>

    <option value="$">USD (US Dollar $)</option>
    <option value="€">EUR (Euro €)</option>
    <option value="£">GBP (British Pound £)</option>
    <option value="¥">JPY (Japanese Yen ¥)</option>
    <option value="¥">CNY (Chinese Yuan ¥)</option>
    <option value="A$">AUD (Australian Dollar A$)</option>
    <option value="C$">CAD (Canadian Dollar C$)</option>
    <option value="CHF">CHF (Swiss Franc CHF)</option>
    <option value="HK$">HKD (Hong Kong Dollar HK$)</option>
    <option value="NZ$">NZD (New Zealand Dollar NZ$)</option>
    <option value="S$">SGD (Singapore Dollar S$)</option>
    <option value="₩">KRW (South Korean Won ₩)</option>
    <option value="R$">BRL (Brazilian Real R$)</option>
    <option value="₹">INR (Indian Rupee ₹)</option>
    <option value="₽">RUB (Russian Ruble ₽)</option>
    <option value="R">ZAR (South African Rand R)</option>
    <option value="₺">TRY (Turkish Lira ₺)</option>
    <option value="₴">UAH (Ukrainian Hryvnia ₴)</option>
    <option value="₱">PHP (Philippine Peso ₱)</option>
    <option value="RM">MYR (Malaysian Ringgit RM)</option>
    <option value="฿">THB (Thai Baht ฿)</option>
    <option value="Rp">IDR (Indonesian Rupiah Rp)</option>
    <option value="Kč">CZK (Czech Koruna Kč)</option>
    <option value="zł">PLN (Polish Złoty zł)</option>
    <option value="Ft">HUF (Hungarian Forint Ft)</option>
    <option value="₪">ILS (Israeli Shekel ₪)</option>
    <option value="₡">CRC (Costa Rican Colón ₡)</option>
    <option value="د.إ">AED (UAE Dirham د.إ)</option>
    <option value="﷼">SAR (Saudi Riyal ﷼)</option>
    <option value="﷼">IRR (Iranian Rial ﷼)</option>
    <option value="د.ك">KWD (Kuwaiti Dinar د.ك)</option>
    <option value="ب.د">BHD (Bahraini Dinar ب.د)</option>
    <option value="ر.ع">OMR (Omani Rial ر.ع)</option>
    <option value="د.ا">JOD (Jordanian Dinar د.ا)</option>
    <option value="₭">LAK (Lao Kip ₭)</option>
    <option value="₮">MNT (Mongolian Tögrög ₮)</option>
    <option value="₨">PKR (Pakistani Rupee ₨)</option>
    <option value="৳">BDT (Bangladeshi Taka ৳)</option>
    <option value="₨">NPR (Nepalese Rupee ₨)</option>
    <option value="Rs">LKR (Sri Lankan Rupee Rs)</option>
    <option value="₨">SCR (Seychellois Rupee ₨)</option>
    <option value="₦">NGN (Nigerian Naira ₦)</option>
    <option value="Br">BYN (Belarusian Ruble Br)</option>
    <option value="лв">BGN (Bulgarian Lev лв)</option>
    <option value="kn">HRK (Croatian Kuna kn)</option>
    <option value="₺">TL">Old Turkish Lira (Pre-2005)</option>
    <option value="د.م.">MAD (Moroccan Dirham د.م.)</option>
    <option value="د.ت">TND (Tunisian Dinar د.ت)</option>
    <option value="ل.د">LYD (Libyan Dinar ل.د)</option>
    <option value="₼">AZN (Azerbaijani Manat ₼)</option>
    <option value="₸">KZT (Kazakhstani Tenge ₸)</option>
    <option value="₼">GEL (Georgian Lari ₼)</option>
    <option value="₡">CLP (Chilean Peso $ - Chile)</option>
    <option value="₡">COP (Colombian Peso $ - Colombia)</option>
    <option value="₡">MXN (Mexican Peso $ - Mexico)</option>
    <option value="₡">PEN (Peruvian Sol S/.)</option>
    <option value="Bs">VEF (Venezuelan Bolívar Bs)</option>
    <option value="Bs.S">VES (New Venezuelan Bolívar Soberano Bs.S)</option>
    <option value="₲">PYG (Paraguayan Guaraní ₲)</option>
    <option value="₲">BOB (Bolivian Boliviano Bs)</option>
    <option value="Q">GTQ (Guatemalan Quetzal Q)</option>
    <option value="L">HNL (Honduran Lempira L)</option>
    <option value="N$">NAD (Namibian Dollar N$)</option>
    <option value="P">BWP (Botswana Pula P)</option>
    <option value="Le">LSL (Lesotho Loti Le)</option>
    <option value="E">SZL (Swazi Lilangeni E)</option>
    <option value="K">PGK (Papua New Guinean Kina K)</option>
    <option value="K">MMK (Myanmar Kyat K)</option>
    <option value="₭">KHR (Cambodian Riel ៛)</option>
    <option value="₩">KPW (North Korean Won ₩)</option>
    <option value="M">MZN (Mozambican Metical M)</option>
    <option value="T$">TOP (Tongan Paʻanga T$)</option>
    <option value="VT">VUV (Vanuatu Vatu VT)</option>
    <option value="WS$">WST (Samoan Tālā WS$)</option>
    <option value="FCFA">XOF (West African CFA Franc FCFA)</option>
    <option value="FCFA">XAF (Central African CFA Franc FCFA)</option>
    <option value="Fr">XPF (CFP Franc Fr)</option>
    <option value="ƒ">ANG (Netherlands Antillean Guilder ƒ)</option>
    <option value="ƒ">AWG (Aruban Florin ƒ)</option>
    <option value="ƒ">SRD (Surinamese Dollar $)</option>
    <option value="B/.">PAB (Panamanian Balboa B/.)</option>
    <option value="$">BMD (Bermudian Dollar $)</option>
    <option value="$">BSD (Bahamian Dollar $)</option>
    <option value="$">BBD (Barbadian Dollar $)</option>
    <option value="$">KYD (Cayman Islands Dollar $)</option>
    <option value="$">XCD (East Caribbean Dollar $)</option>
    <option value="$">JMD (Jamaican Dollar $)</option>
    <option value="$">TTD (Trinidad & Tobago Dollar $)</option>
    <option value="$">FJD (Fijian Dollar $)</option>
    <option value="$">SBD (Solomon Islands Dollar $)</option>
    <option value="$">BND (Brunei Dollar $)</option>
    <option value="$">GYD (Guyanese Dollar $)</option>
    <option value="$">HTG (Haitian Gourde $)</option>
    <option value="$">LRD (Liberian Dollar $)</option>
    <option value="$">NIO (Nicaraguan Córdoba $)</option>
    <option value="$">XEU (European Currency Unit - Historical)</option>
  </select>
  <span class="error currency" style="color: #ff5555; font-size: 0.9em;"></span>
</div>

                  <div class="uk-margin-small uk-width-1-1 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip fas fa-phone fa-sm"></span>
                    <input class="uk-input uk-border-rounded" style="background:#0e121b; color:#fff;" type="tel" name="tel" placeholder="Phone Number (+123...)" required />
                    <span class="error tel"></span>
                  </div>

                  <div class="uk-margin-small uk-width-1-1 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip fas fa-envelope fa-sm"></span>
                    <input class="uk-input uk-border-rounded" style="background:#0e121b; color:#fff;" type="email" name="email" placeholder="Email Address" required />
                    <span class="error email"></span>
                  </div>

                  <div class="uk-margin-small uk-width-1-1 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip fas fa-lock fa-sm"></span>
                    <input class="uk-input uk-border-rounded" style="background:#0e121b; color:#fff;" type="password" name="password1" placeholder="Password" minlength="6" required />
                    <span class="error password"></span>
                  </div>

                  <div class="uk-margin-small uk-width-1-1 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip fas fa-lock fa-sm"></span>
                    <input class="uk-input uk-border-rounded" style="background:#0e121b; color:#fff;" type="password" name="password2" placeholder="Confirm Password" required />
                  </div>

                  <div class="uk-margin-small">
                    <label><input class="uk-checkbox uk-border-rounded" type="checkbox" required /> I agree to the <a href="#" style="color:#3F3EED">Terms & Conditions</a></label>
                  </div>

                  <div class="uk-margin-medium">
                    <button type="submit" class="uk-button uk-button-primary uk-width-1-1 uk-border-rounded" style="background:#3F3EED;" id="btnSignup">
                      Create Account
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Scripts -->
<script src="/plugins/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/plugins/sweetalerts/sweetalert2.all.min.js"></script>
<script src="/js/vendors/uikit.min.js"></script>

<script>
document.getElementById('signupForm').addEventListener('submit', async function(e) {
  e.preventDefault();

  // Reset errors
  document.querySelectorAll('.error').forEach(el => el.textContent = '');

  const formData = {
    fullname: this.fullname.value.trim(),
    username: this.username.value.trim(),
    address: this.address.value.trim(),
    city: this.city.value.trim(),
    zip_code: this.zip_code.value.trim(),
    country: this.country.value,
    currency: this.currency.value,
    tel: this.tel.value.trim(),
    email: this.email.value.trim(),
    password1: this.password1.value,
    password2: this.password2.value,
  };

  // Client-side checks
  if (formData.password1 !== formData.password2) {
    Swal.fire('Error!', 'Passwords do not match', 'error');
    return;
  }

  if (!this.querySelector('[type=checkbox]').checked) {
    Swal.fire('Oops!', 'You must agree to Terms & Conditions', 'warning');
    return;
  }

  try {
    const res = await fetch('/register', {
      method: 'POST',
      body: JSON.stringify(formData),
      headers: { 'Content-Type': 'application/json' }
    });

    const data = await res.json();

    if (data.errors) {
      // Show field-specific errors
      Object.keys(data.errors).forEach(key => {
        const el = document.querySelector(`.error.${key}`);
        if (el) el.textContent = data.errors[key];
      });

      Swal.fire({
        icon: 'error',
        title: 'Registration Failed',
        text: 'Please fix the errors and try again.',
        confirmButtonColor: '#3F3EED'
      });
    } 
    else if (data.redirect) {
      Swal.fire({
        icon: 'success',
        title: 'Success!',
        text: 'Account created successfully! Redirecting...',
        timer: 2000,
        showConfirmButton: false,
        willClose: () => {
          window.location.href = data.redirect;
        }
      });
    }

  } catch (err) {
    console.error(err);
    Swal.fire('Error', 'Something went wrong. Please try again.', 'error');
  }
});
</script>

</body>
</html>

<%- include('partials/_footer') %>