/*bg*/
.bg-1{
   background:#000 !important; 
}
.bg-2{ 
    background: #111 !important;
}
.bg-3{
    background: #1B1B1B !important;
}
.bg-4{
    background: #3f3eed !important;
}
.bg-5{
    
background: rgba(68, 160, 141, 0.20) !important;
}
/*color*/
.clor-1{
    
}
.clor-2{
    
}
.clor-3{
    
}
.clor-4{
    
}
.clor-5{
    
}
